<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Passenger&amp;Flights-Data-servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>travelerServlet</display-name>
    <servlet-name>travelerServlet</servlet-name>
    <servlet-class>travelerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>travelerServlet</servlet-name>
    <url-pattern>/travelerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>flightServlet</display-name>
    <servlet-name>flightServlet</servlet-name>
    <servlet-class>flightServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>flightServlet</servlet-name>
    <url-pattern>/flightServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>infoServlet</display-name>
    <servlet-name>infoServlet</servlet-name>
    <servlet-class>infoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>infoServlet</servlet-name>
    <url-pattern>/infoServlet</url-pattern>
  </servlet-mapping>
  
 
</web-app>